body {
  font-family: sans-serif;
}

p {
  margin: 0;
}

input {
  border-radius: 16px;
  border: none;
  padding: 6px 16px;
  outline: nono;
}

button {
  border-radius: 16px;
  border: none;
  padding: 4px 16px;
  margin-right: 1px;
}

button:hover {
  background-color: #ff7fff;
  color: #fff;
  cursor: pointer;
}

.title {
  text-align: center;
  margin-top: 0;
  font-weight: bold;
  color: #666;
}

.list-row {
  display: flex;
  align-items: center;
  padding-bottom: 4px;
}

.list-row > p {
  margin-right: 5px;
}
